<nav class="navigator">
  <a class="navigator--home" href="/">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f2/Premier_League_Logo.svg/1200px-Premier_League_Logo.svg.png" alt="premier-league-icon">
  </a>
  <a class="navigator--add" href="/add">Add</a>
  <a class="navigator--list" href="/list">List</a>
</nav>
