.wrapper {
  display: grid;
  grid-template-columns: 65% 35%;
  max-width: 65vw;
  padding: 10px;
  margin: 0 auto;
}

.club-crest {
  grid-column: 1 / -1;
  padding: 10px;
  margin: 0 auto;
  height: 180px;
}

.venue-map {
  grid-column: 2;
  align-self: center;
}

.actions {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-evenly;
}

.last-updated {
  grid-column: 1 / -1;
  text-align: end;
}
