.club-info-edit {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  max-width: 65vw;
  padding: 10px;
  margin: 0 auto;
}

.club-info-edit > label {
  padding-left: 20px;
}

.club-info-edit > label > * {
  margin: 6px;
}

label[for="crest-url"] {
  text-align: center;
}
